<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.637401595826-ag35466vtl8v6fmagkmjqpk4k6srecbq</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>MaruBuri-Bold.otf</string>
	</array>
</dict>
</plist>
